# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Exec02Topicos/build/
/Exec02Topicos/dist/
/Exec02Topicos/nbproject/private/
/PrimeiroJSF/nbproject/private/
/PrimeiroJSF/build/
/PrimeiroJSF/dist/
/Exec03Topicos/nbproject/private/
/Exec03Topicos/build/
/JSF01/nbproject/private/
/JSF01/build/
/login2/nbproject/private/
/login2/build/
/LogSeguranca/nbproject/private/
/LogSeguranca/build/
/JSF02/nbproject/private/
/JSF02/build/
/LogSeguranca/dist/
/Blog/nbproject/private/
/Blog/build/
/Blog/dist/
/Carros/nbproject/private/
/Carros/build/
/Blog_1/nbproject/private/
/Blog_1/build/
/Cripto/nbproject/private/
/Cripto/build/
/Angular/nbproject/private/
/Angular/build/
/Crypto2/nbproject/private/
/Crypto2/build/
/angular_com_ajax/nbproject/private/
/teste/nbproject/private/
/BlogAngular/nbproject/private/
/BlogAngular/build/