<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>RequestConfig</filter-name>
        <filter-class>callback.RequestConfigFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestConfig</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/Login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AuthSession</filter-name>
        <filter-class>callback.AuthSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthSession</filter-name>
        <url-pattern>/categoria.jsp</url-pattern>
        <servlet-name>CategoriaControler</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>callback.CloseConnectionListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener e HttpSessionListener</description>
        <listener-class>callback.DatabaseRequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControler</servlet-name>
        <servlet-class>control.UsuarioControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControler</servlet-name>
        <servlet-class>control.CategoriaControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControler</servlet-name>
        <url-pattern>/UsuarioControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControler</servlet-name>
        <url-pattern>/CategoriaControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
